@model IEnumerable<DataLayer.Models.Incident>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargettedSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfOcurence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level_Fk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargettedSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfOcurence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Fk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Fk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level_Fk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
